.container {
  position: relative;
  width: 350px;
  height: 470px;
}

.button {
  min-width: 350px;
  outline: none;
  background: #eaf5ff;
  border: 1px solid #bed6ec;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  height: 60px;
}

.button p:nth-child(2) {
  color: #9b9b9b;
}

.listContainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 60px;
  background: #fff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}

.listContainer ul {
  max-height: 372px;
  overflow-y: scroll;
  margin: 0 auto;
}

.inputBox {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.inputBox::placeholder {
  color: #c1c1c1;
}

.listItem {
  display: flex;
  flex-direction: row;
  padding: 10px;
  cursor: pointer;
}
.listItem div:first-child {
  width: 90%;
}
.listItem div:first-child p:first-child {
  font-size: 14px;
  margin-bottom: 5px;
}
.listItem div:first-child p:nth-child(2) {
  font-size: 12px;
  color: #9b9b9b;
}
.listItem div:nth-child(2) {
  padding-top: 10px;
  color: #9b9b9b;
}

.listItem:hover {
  background-color: #f1f1f1;
}

.loader {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 100px;
  margin-left: 145px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}

.noDataFound {
  position: absolute;
  top: 40%;
  display: inline-block;
  z-index: 100;
  left: 50%;
  font-size: 18px;
  color: #ccc;
  transform: translate(-50%);
}
